.label {
    float: left;
    background: #D62802;
    color: white;
    padding: 1% 4% 1% 4%;
    position: absolute;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
}